<h3 class="ui header">{{t "forms.i-i-s-forms-registration-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field" data-test-i-i-s-forms-registration-e-courseType="true">
    <label>{{t "forms.i-i-s-forms-registration-e.courseType-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-forms-t-course")
      value=model.courseType
      class=(if (v-get validationModel "courseType" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "courseType" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-forms-registration-e.dateOfRegister-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.dateOfRegister
      class=(if (v-get validationModel "dateOfRegister" "isInvalid") "error")
      data-test-i-i-s-forms-registration-e-dateOfRegister=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "dateOfRegister" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.course.name
      class=(if (v-get validationModel.course "name" "isInvalid") "error")
      label=(t "forms.i-i-s-forms-registration-e.course.name-caption")
      data-test-i-i-s-forms-registration-e-course-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.course "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.student.name
      class=(if (v-get validationModel.student "name" "isInvalid") "error")
      label=(t "forms.i-i-s-forms-registration-e.student.name-caption")
      data-test-i-i-s-forms-registration-e-student-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.student "name" "message")}}
  </div>
</form>
